@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    display: inline-block;
    width: 100px; 
    margin: 10px;
    margin-bottom: 30px;
    
}